<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#000000" >Fee Master</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <form #form="ngForm" (ngSubmit)="feemaster(form)" method="post"> -->
    <form *ngIf="authname" [formGroup]="authname" (ngSubmit)="onSubmit(authname.value)">
    <ion-item>
        <ion-label>Student Name</ion-label>
        <ion-select placeholder="Select One" formControlName="name" [(ngModel)]="Name_Item" >
          <ion-select-option *ngFor="let item of row_data" value="{{item.name}}">{{item.name}}</ion-select-option>
        </ion-select>
    </ion-item>
     <div *ngIf="submitted && frm.name.errors" class="invalid-feedback">
      <ion-item *ngIf="frm.name.errors.required">
          <p style="color:red">Select Name is required !</p>
      </ion-item>
    </div>	
    <ion-item>
      <ion-label position="floating" >Installment</ion-label>
      <ion-input formControlName="Installment" [(ngModel)]="Installment_Item"></ion-input>
  </ion-item>
  <div *ngIf="submitted && frm.Installment.errors" class="invalid-feedback">
      <ion-item *ngIf="frm.Installment.errors.required">
          <p style="color:red">Installment is required !</p>
      </ion-item>
      <ion-item *ngIf="frm.Installment.errors.pattern">
        <p style="color:red">>Total Fee must be number only in ('[0-9 ]*') !</p>
    </ion-item>
    <ion-item *ngIf="frm.Installment.errors.maxlength ">
      <p style="color:red">  A  maximum of 10 characters can be entered !</p>
  </ion-item>
  <ion-item *ngIf="frm.Installment.errors.minlength ">
    <p style="color:red">  A minimum of 3  characters can be entered !</p>
</ion-item>
    </div>	
    <ion-button type="submit" expand="block" color="tertiary"  >Save</ion-button>
    <ion-button type="submit" expand="block" color="tertiary" (click)="ShowFee()" >Show</ion-button>
    <!-- </form> -->
    </form>
  </ion-content> 
