<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#000000">About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <ion-card style="padding-left: 10px;padding-right: 10px;"> -->
    <p style="font-size:15px;text-align:justify;color: #000000; padding-left: 20px;padding-right: 20px;padding-bottom: 20px;">
      The primary functionality of this fee management System is to streamline and manage student information
      efficiently
      along with fee management automating processes for the stakeholders.Fee Managemnt System is a paperless office
      automation solution for today’s modern system.Fee Managemnt System provides facility to carry out student
      information and Student Fee management faster, easier, efficient and accurate. Highly laborious and time
      consuming
      tasks like fee management, Student Infromation management and accounting are carried out easily and accurately,
      saving a lot of time.
    </p>
  <!-- </ion-card> -->
  <!-- <ion-card style="padding-left: 10px;padding-right: 10px;">
    <ion-card-header>
      <ion-item  style="text-align:center;">
        <ion-label>
          <h2>Develop by</h2>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-item style="text-align:center;">
      <ion-label >
        <h2>Mr.Jignesh Amala</h2>
        <h3>MCA Sem-5</h3>
        <p>Enrollment No.-185073693001</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="text-align:center;">
        <h2>Mr.Satish Vanjara</h2>
        <h3>MCA Sem-5</h3>
        <p>Enrollment No.-Enrollment No.-185073693031</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="text-align:center;">
        <h2>MR.Mayur Prajapati</h2>
        <h3>MCA Sem-5</h3>
        <p>Enrollment No.-Enrollment No.-185073693020</p>
      </ion-label>
    </ion-item>
  </ion-card> -->

  <ion-item>
    <ion-label style="text-align:center;">
      <h2>Develop by</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="text-align:center;">
      <h2>Mr.Jignesh Amala</h2>
      <h3>MCA Sem-5</h3>
      <p>Enrollment No.-185073693001</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="text-align:center;">
      <h2>Mr.Satish Vanjara</h2>
      <h3>MCA Sem-5</h3>
       <p>Enrollment No.-185073693031</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="text-align:center;">
      <h2>Mr.Mayur Prajapati</h2>
      <h3>MCA Sem-5</h3>
       <p>Enrollment No.-185073693020</p>
    </ion-label>
  </ion-item>

</ion-content>